<html>
  <head>
    <title>example</title>
    <script src="shani.js"></script>
    <script src="../oscar.js"></script>
    <script src="example.js"></script>
  </head>
  <body>
    <div id="model0">
      <div>My name is {{ name }}.</div>
      <div>My age is {{ age }}.</div>
      <div>Next year, my age is {{ age + 1 }}.</div>
      <input type="button" oscar-action="click:age++" value="increase age: {{ age }}.">
      <input type="button" oscar-action="click:age--" value="decrease age: {{ age }}.">
      <div>My skills are:</div>
      <ul>
        {% for _, skill in skills %}
        <li>{{ skill + "!" }}</li>
        {% end %}
      </ul>
      <div> I am 
        <span style="color:red;">
        {% if age > 70 %}
        an old superman.
        {% else if age > 50 %}
        a superman.
        {% else if age > 30 %}
        an old man.
        {% else if age > 18 %}
        an adult.
        {% else if age < 6 %}
        a child.
        {% else %}
        a young.
        {% end %}
        </span>
      </div>
      <div>
        {{ say() }}
      </div>
      <ul>
        {% for k, v in dict %}
        <li>{{ k }}: {{ v }}</li>
        {% end %}
      </ul>
      {% if 2 > 1 and 3 > 2 %}
      <p>hey!</p>
      {% end %}
      {% if 1 > 2 or 3 > 2 %}
      <p>ha!</p>
      {% end %}
    </div>
    <div id="model1">
      <div>My name is {{ name }}.</div>
      <div>My age is {{ age + 1 }}.</div>
      <input type="text" oscar-bind="skills[0]">
      <input type="text" oscar-bind="skills[1]">
      <div>My skills are:</div>
      <ul>
        {% for _, skill in skills %}
        <li>{{ skill + "!" }}</li>
        {% end %}
      </ul>
    </div>
  </body>
</html>
