<html>
  <head>
    <title>example</title>
    <script src="shani.js"></script>
    <script src="../oscar.js"></script>
    <script src="example.js"></script>
  </head>
  <body>
    <div id="model0">
      <div>My name is {{ name }}.</div>
      <div>My age is {{ age + 1 }}.</div>
      <div>My skills are:</div>
      <ul>
        {% for _, skill in skills %}
        <li>{{ skill + "!" }}</li>
        {% end %}
      </ul>
      <div> I am 
      {% if age > 18 %}
      an adult.
      {% else if age < 6 %}
      a child.
      {% else %}
      a young.
      {% end %}
      </div>
      <div>
        {{ say() }}
      </div>
      <ul>
        {% for k, v in dict %}
        <li>{{ k }}: {{ v }}</li>
        {% end %}
      </ul>
      {% if 2 > 1 and 3 > 2 %}
      <p>hey!</p>
      {% end %}
      {% if 1 > 2 or 3 > 2 %}
      <p>ha!</p>
      {% end %}
    </div>
    <div id="model1">
      <div>My name is {{ name }}.</div>
      <div>My age is {{ age + 1 }}.</div>
      <input type="text" oscar-bind="skills[0]">
      <div>My skills are:</div>
      <ul>
        {% for _, skill in skills %}
        <li>{{ skill + "!" }}</li>
        {% end %}
      </ul>
    </div>
  </body>
</html>
